*,*::before, *::after {
    box-sizing: border-box;
    margin:0;
}

body {
    background: #A3DEFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1px;
}

header {
    display: flex;
    width: 100%;
    right: 0;
    height: 140px;
    justify-content: center;
    align-items: flex-end;
    gap: 100px;
    flex-shrink: 0;
    background: linear-gradient(270deg, rgba(255, 155, 245, 0.00) 0%, #A3DEFF 100%), linear-gradient(180deg, #FF9BF5 0%, #A3DEFF 100%);
}

.logoContainer {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 100px;
    width: 100px;
    background: dimgray;
}

.nav{
    display: flex;
    width: 80%;
    padding: 20px 40px;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.nav li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.nav li a {
    text-decoration: none;
    color: black;
}

.nav li a:hover{
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    border-top: 1px solid black;
    background: linear-gradient(90deg, rgba(255, 155, 245, 0.00) 0%, #A3DEFF 100%), linear-gradient(0deg, #FF9BF5 0%, #A3DEFF 100%);
}

.whoAreWe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80%;
    gap: 20px;
}

.whoAreWe h3{
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.whoAreWe p {
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.igLogo {
    background: url("../assets/ig(1).png") center no-repeat;
    height: 50px;
    width: 50px;

}

.fbLogo {
    background: url("../assets/Facebook.png") center no-repeat;
    height: 50px;
    width: 50px;
}

.socialMedia {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}




